<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>Hello {{name}}</p>
	<form action="/user/comment" method="POST">
		<input type="text" name="content">
		<button type="submit">Comment</button>
	</form>
	<br>
	<hr>
	{{#each rows}}
	<p>{{username}}</p>
	<p>{{content}}</p>
	{{/each}}
</body>
</html>